.projectBox{
  width: 250px;
  margin: 12px;
  border: 2px solid darkolivegreen;
  padding: 4px;
  background-color: whitesmoke;
  box-sizing:border-box;
}

img {
  float: left;
  border-width: 15px;
  flex-wrap: wrap;
  width: 250px;
  border: 5px solid black;
  border-radius: 25px;
}

body {
  font-family:Arial, Helvetica, sans-serif;
}