.flex-container {
  display: flex;
}

.projectBox{
  width: 250px;
  margin: 35px;
  border: 2px solid lightseagreen;
  padding: 4px;
  background-color: whitesmoke;
  flex-wrap: wrap;
}

.projectBox h2 {
  text-align: center;
}

.projectBox p {
  font-size: smaller;
  text-align: justify;
  min-height: 45px;
  margin: 5px;
}

.projectBox ul {
  margin: 5px;
}

.projectBox li {
  color: lightseagreen;
}

.projectBox h3 {
  margin: 5px;
}

img {
  float: left;
  margin: 30px;
  border-width: 15px;
  flex-wrap: wrap;
  width: 340px;
  border: 5px solid black;
  border-radius: 75px;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 40px;
}