.flex-container {
  display: flex;
}

.projectBox{
  width: 250px;
  margin: 35px;
  border: 2px solid lightseagreen;
  padding: 4px;
  background-color: whitesmoke;
  flex-wrap: wrap;
}

.projectBox h2 {
  text-align: center;
}

.projectBox a {
  color: rgb(14, 151, 144);
}

img {
  float: left;
  margin: 30px;
  border-width: 15px;
  flex-wrap: wrap;
  width: 250px;
  border: 5px solid black;
  border-radius: 85px;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 30px;
}